:root {
    font-family: sans-serif, sans-serif;

}

.container {
    display: grid;
    grid-template: 1.5fr 6fr / 1fr 5fr;
    height:1000px;
}

/* ---------Header----------- */
/* RowLines: 3 & ColumnLines: 3; */
.header {/*border: 1px solid red;*/
    grid-area: 1/2/2/3;
    background-color: white;
    padding: 15px;
}

.header {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-items: center;
}

input[type='search']{
    background-color: #E2E8F0;
    border-radius: 20px;
    border: none;
    outline: none;
}

.notification {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.userOverview {
    display: flex;
    gap: 10px;
}

.btns {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.btns>button {
    border-radius: 20px;
    background-color: #1992D4;
    color: white;
    border: #1992D4;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 700;
}

/* .header>div {border: 1px solid blue;} */

/* ---------Side----------- */

.sidebar {
    grid-area: 1/1/3/2;
    background-color: #1992D4;
    color: white;
    display: grid;
    grid-template: 60px repeat(6, 25px) repeat(4, 25px) / 1fr 5fr;
    gap: 15px 15px;
    font-weight: 700;
    padding: 25px 60px 25px 25px;
}

.sidebar .dashboardTitle {
    font-size: 2rem;
}

/* .sidebar>img {border: 1px solid red;}
.sidebar>div {border: 1px solid red;} */

/* ---------main----------- */
.main {
    grid-area: 2/2/3/3;
    background-color: #E2E8F0;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    padding: 20px;
    gap: 30px;
}

.project {
    display: grid;
    grid-area: 1/1/3/2;
    grid-template: 40px 225px 225px / 1fr 1fr;
    grid-auto-rows: 225px;
    gap: 30px;
}

.projectTitle {
    grid-area: 1/1/2/3;
    font-size: 1.5rem;
}

.cards {
    background-color: white;
    display: grid;
    grid-template: 1fr / 10px 1fr;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 1px 1px 2px 1px, rgb(0, 0, 0);
}

.innerTitle {
    font-size: 1.4rem;
}

.inner {
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr;
    padding: 40px 10px 20px 10px;
}

.inner div:last-child {
    align-self: end;
    justify-self: end;
}

.decor {
    background-color: #F0B429;
    grid-area: 1/1/4/2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cards p {
    grid-column: 2 / 3;
}

.cardText {
    grid-column: 2 / 3;
    color: #636363;
}

/* ----------------------------------------- */

.announcements {
    /* grid-area: 1/2/2/2;
    padding: 20px; */
}

.announceShell {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.anounceTiles {

}

.trending {
    grid-area: 2/2/3/3;
}