:root {
    font-family: sans-serif, sans-serif;

}

.container {
    display: grid;
    grid-template: 1.5fr 6fr / 1fr 5fr;
    height:1000px;
}

/* ---------Header----------- */
/* RowLines: 3 & ColumnLines: 3; */
.header {border: 1px solid red;
    grid-area: 1/2/2/3;
    background-color: white;
}

.header {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-items: center;
}

input[type='search']{
    background-color: #E2E8F0;
    border-radius: 20px;
    border: none;
    outline: none;
}

.notification {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.userOverview {
    display: flex;
    gap: 10px;
}

.btns {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.btns>button {
    border-radius: 20px;
    background-color: #1992D4;
    color: white;
    border: #1992D4;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 700;
}

.header>div {border: 1px solid blue;}

/* ---------Side----------- */

.sidebar {
    grid-area: 1/1/3/2;
    background-color: #1992D4;
    color: white;
    display: grid;
    grid-template: 60px repeat(6, 25px) repeat(4, 25px) / 1fr 5fr;
    gap: 15px 15px;
    font-weight: 700;
    padding: 25px 60px 25px 25px;
}

.sidebar .dashboardTitle {
    font-size: 2rem;
}

/* .sidebar>img {border: 1px solid red;}
.sidebar>div {border: 1px solid red;} */

/* ---------main----------- */
.main {
    grid-area: 2/2/3/3;
    background-color: #E2E8F0;
}