  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    height: 1200px;
}

/* ---------Header----------- */
.header { 
    grid-area: 1/2/2/3;
    background-color: white;
    padding: 0px 15px 15px 15px;
}

.header {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-items: center;
    gap: 20px 0px;
}
.searbar {
    display: flex;
}

.loupe { 
    margin-left: 40px;
    width: 40px;
    height: 40px;
}

.searchbtn {
    background-color: white;
    outline: none;
    border: none;
}

form {
    display: flex;
    flex-grow: 1;
}

input[type='search']{
    flex-grow: 1;
    background-color: #E2E8F0;
    border-radius: 20px;
    height: 40px;
    width: clamp(20%, 500px, 70%);
    border: none;
    outline: none;
}

.notification img:first-child {
    width: 30px;
    height: 30px;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.littleUsername {
    font-size: 1.5rem;
    font-weight: 700;
}

.logo2 {
    width: 50px;
    height: 50px;
}

.userOverview {
    display: flex;
    gap: 40px;
    align-items: center;
}

.userOverview img {
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btns>button {
    border-radius: 20px;
    background-color: #1992D4;
    color: white;
    border: #1992D4;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 700;
}

/* ---------Side----------- */
.sidebar>* {
    align-items: center;
}
.sidebar {
    grid-area: 1/1/3/2;
    background-color: #1992D4;
    color: white;
    display: grid;
    grid-template: 60px repeat(6, 25px) repeat(4, 25px) / 1fr 5fr;
    gap: 40px 15px;
    font-weight: 700;
    padding: 25px 60px 25px 25px;
}

.sidebar .dashboardTitle {
    font-size: 2.5rem;
}

.dashboardIcon {
    width: 50px;
    height: 50px;
}

.icons {
    width: 30px;
    height: auto;
}

.emptyD {
    grid-area: 7/1/8/3;
}

.menuText {
    font-size: 1.5rem;
}

/* ---------main----------- */
.main {
    grid-area: 2/2/3/3;
    background-color: #E2E8F0;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    padding: 20px;
    gap: 30px;
}

/* ------------------------------- */
.project {
    display: grid;
    grid-area: 1/1/3/2;
    grid-template: 40px 300px 300px / 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 30px;
}

.projectTitle {
    grid-area: 1/1/2/3;
    font-size: 1.5rem;
}

.cards {
    background-color: white;
    display: grid;
    grid-template: 1fr / 10px 1fr;
    border-radius: 5px;
    gap: 10px;
}

.innerTitle {
    font-size: 1.5rem;
}

.inner {
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr;
    padding: 40px 10px 20px 10px;
}

.inner div:last-child {
    align-self: end;
    justify-self: end;
}

.decor {
    background-color: #F0B429;
    grid-area: 1/1/4/2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cards p {
    grid-column: 2 / 3;
}

.cardText {
    grid-column: 2 / 3;
    color: #636363;
}

.star, .share, .eyes {
    width: 40px;
    height: 40px;
}

.share {
    margin-right: 40px;
}

.connect {
    display: flex;
    gap: 40px;
}

/* ----------------------------------------- */

.announcements {
    grid-area: 1/2/2/2;
    display: grid;
    grid-template: 40px 1fr / minmax(200px, 1fr);
    gap: 30px;

}

.announceShell {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template: 1fr 1fr 1fr / minmax(200px, 1fr);
}

/* --------------------------------------------- */

.trending {
    grid-area: 2/2/3/3;
    display: grid;
}

.trendingShell {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(4, 1fr) / minmax(200px, 1fr);
}

.trendingShell>div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.trendingShell div img {
    width: 60px;
    height: 60px;
}

.bigUsername {
    font-weight: 700;
    font-size: 2rem;
}